.grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    border: 1px solid #000;
    border-right: none;
    border-bottom: none;
    position: relative;
  }
  
  .grid-guides {
    display: contents;
  }
  
  .grid-guide {
    inset: 0px;
    position: absolute;
    grid-column-start: var(--x);
    grid-column-end: span 1;
    grid-row-start: var(--y);
    grid-row-end: span 1;
    border: 1px solid #000;
    border-left: none;
    border-top: none;
  }
  
  .grid-cross {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    svg {
      transform: translate(-51.5%, -51.5%);
      transform-origin: 50% 50%;
    }
  }
  
  .grid-cell {
    aspect-ratio: 1;
    width: 100%;
  }